.log-body{
	margin-top: 10px;
}

.myr-top{
	margin-top:15px;
}

.log-body label{
	margin:0px;
	font-family:Poppins-R;
	font-size:14px;
	display:none;

}

.img{
	margin: auto; 
  width: 125px; 
  height: 125px; 
  border-radius: 62.50px;
}

span {
  font-size: small;
}
.span {
  color: blue; 
}

.form-check{
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

.log-btn{
	padding-bottom:20px;
}
.log-btn a i {
  margin-right: 10px;
  font-size: 18px;
}
.btn-theme1{
  margin-top: 10px;
  width: 100%;
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#4267B2;
	color:#fff;
	border:1px solid transparent;
	border-radius:10px;
	transition:ease 0.5s;
}
.btn-theme1:hover{
	color:#4267B2;
	background-color:#fff;
	border:1px solid #000;
}

.btn-theme2{
  left: 0;
  margin-top: 10px;
  width: 100%;
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#fff;
	color: black;
	border:1px solid black;
	border-radius:10px;
}

.btn-theme2:hover{
	color:#fff;
	background-color:#4267B2;
	border:1px solid transparent;
}

.btn-theme2 img{
  margin-left: 10px;
  padding: 1px 0px 2px ;
  width: 26px;
  height: 26px;
}

.devider {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}

.devider p {
  padding-top: 10px;
}

.log-content-p{
  margin-top: 10px;
  margin-bottom: 20px;
}

.header .log-content-p .head{
  font-size: 1.3rem;
  font-weight: 500;
}



@media only screen and (max-width: 820px)  {
  
  .devider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
	
	.img{
    
    margin:10px 0px 0px 10px;
    float: left;
    width: 30%; 
    height: 30%; 
  }

  .log-content-p{
    margin-top: 10px;
    text-align: start;
    margin-right: 0px;
    margin-bottom: 64px;
    float: left;
    padding-top: 20px;
    margin-left: 10px;
  }

  .cardius {
    height: 100%;
  }
}

@media only screen and (max-width:393px){
  .header .log-content-p .head{
    font-size: 1rem;
    font-weight: 500;
  }
  .btn-theme2{
    left: 0;
    margin-top: 10px;
    width: 100%;
    font-size:12px;
    font-family:Poppins-R;
    padding:10px 20px;
    background-color:#fff;
    color: black;
    border:1px solid black;
    border-radius:10px;
  }
}

